body, html {
	height: 100%;
	margin: 0;
	padding: 0;
	background-image:url('images/green_cup.png');
}

/*Header*/
.header {
	padding-bottom: 5px;
	height: 12.5%;
	background-color: white;
}

.header img, .header h1, .header h2 {
	display: inline-block;
	margin-right: 30px;
	margin-top: 20px;
	vertical-align: bottom;
}

.header h1 {
	margin-right: 40px;
}

.header img {
	height: 50px;
	vertical-align: top;
	margin-left: 50px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

h1 {
	font-size: 2.5em;
	font-family: 'Helvetica';
	font-weight: 500px;
}

h2 {
	font-size: 2em;
	font-family: 'Helvetica Neue';
	font-weight: 400;
}

h2 a:link {
	color: black;
}

h2 a:visited {
	color: black;
}

/*Bio*/
.bio {
	width: 500px;
	margin-top: 40px;
	margin-left: 20px;
	background-color: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 10px;
}

.bio h1, h2, h3, .links {
	margin-left: 10px;
}

.bio h1 {
	padding-top: 10px;
}

.bio h2 {
	margin-top: 0px;
}

.bio h3 {
	font-family: 'Helvetica';
	font-weight: 400;
	color: #4C4C4C;
}

.bio .links {
	padding-bottom: 10px;
}
